.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
}

.header {
  text-align: center;
  font-size: 5rem;
}

.hero-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  border: 1px solid #000000;
  list-style: none;
}

.hero-list__element:nth-child(even) {
  background-color: #aaaaaa;
}

.hero-list__link {
  display: flex;
  align-items: center;
}

.hero-list__image {
  width: 300px;
  height: auto;
}

.hero-list__name {
  font-size: 4rem;
  padding: 0 2rem;
}

.footer {
  text-align: center;
}
